@import "@/styles/variables.scss";

.headerOuter{
    position: fixed;
    top: 20px;
    background: #ffffff;
    left: 20px;
    width: calc(100% - 40px);
    padding: 30px 25px;
    box-sizing: border-box;
    z-index: 99;
    transition: 500ms;
    .mainNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            display: flex;
            list-style: none;
            gap: 20px;
            padding: 0;
            margin: 0;
        }
        a{
            font-size: 16px;
            color: #000000;
            &.active, &:hover{
                color: $primary-color;
                font-weight: 600;
            }
        }
        .contactUsBtn{
            display: flex;
            border: 1px solid #000000;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            gap: 15px;
            background: #fff;
            &.active{
                color: $primary-color;
                border-color: $primary-color;
            }
        }
    }
    &.showHeader{
        top: 0;
        left: 0;
        width: 100%;
        transition: 500ms;
        position: fixed;
        padding: 20px 25px;
        border-bottom: 1px solid#ccc;
    }
}

