@import "@/styles/variables.scss";
.exploreMore{
    display: flex;
    justify-content: center;
    padding-left: 20%;
    margin-top: -110px;
    margin-bottom: 80px;
    @include respond(extralargeScreen) {
        margin-top: -60px;
    }
    @include respond(largeScreen) {
        margin-top: 0px;
    }
    @include respond(midTab) {
        padding-left: 0;
        margin-top: 20px;
    }
    @include respond(smMobile) {
        margin-top: 20px;
    }
    .exploreMoreBtn{
        height: 190px;
        width: 190px;
        font-size: 20px;
        text-align: center;
        border-radius: 100%;
        color: $black;
        display: grid;
        align-items: center;
        background: $primary-color;
        justify-content: center;
        z-index: 999;
        line-height: 22px;
        font-family: $Gilroy-Bold;
        @include respond(minTab) {
            height: 150px;
            width: 150px;
        }
        img{
            width: 30px !important;
            height: auto !important;
            margin: 0 auto 5px;
            display: block;
        }
      }
      .exploreMain{
        position: relative;
        .waves {
            position: absolute;
            width: 300px;
            height: 300px;
            background: rgba(237, 188, 90, 0.3);
            opacity: 0;
            border-radius: 100%;
            right: -56px;
            bottom: -54px;
            z-index: -1;
            -webkit-animation: waves 3s ease-in-out infinite;
            animation: waves 3s ease-in-out infinite;
            @include respond(minTab) {
                width: 240px;
                height: 240px;
                right: -46px;
                bottom: -44px;
            }
            &.wave1 {
                -webkit-animation-delay: 0s;
                animation-delay: 0s;
            }
            
            &.wave2 {
                -webkit-animation-delay: 1s;
                animation-delay: 1s;
            }
            
            &.wave3 {
                -webkit-animation-delay: 2s;
                animation-delay: 2s;
            }
        }
      }
    
}

@keyframes waves {
    0% {
      -webkit-transform: scale(0.2, 0.2);
      transform: scale(0.2, 0.2);
      opacity: 0;
    }
    50% {
      opacity: 0.9;
    }
    100% {
      -webkit-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
      opacity: 0;
    }
  }
  .agencyInfo{
    position: relative;
    @include respond(minTab) {
        display: none;
     }
    p{
        position: absolute;
        right: 15px;
        top: -200px;
        font-family: $Rubik-MediumItalic;
        @include respond(extralargeScreen) {
            top: -140px;
        }
        @include respond(largeScreen) {
            top: -120px;
        }
        @include respond(midTab) {
            top: -100px;
        }
    }
  }