
$primary-color: #3D74B6;
$black: #000;
$white: #fff;
$dark-brown: #1A1717;

$loader-width: 250px;
$loader-dot-size: 20px;

@mixin respond($breakpoint) {
  // $breakpoint is simply a variable that can have several values
  @if $breakpoint==minlaptop {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint==largeTab {
    @media only screen and (max-width: 1100px) {
      @content;
    }
  }

  @if $breakpoint==tab {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }

  @if $breakpoint==midTab {
    @media only screen and (max-width: 1023px) {
      @content;
    }
  }

  @if $breakpoint==muiMobile {
    @media only screen and (max-width: 899px) {
      @content;
    }
  }

  @if $breakpoint==minTab {
    @media only screen and (max-width: 767px) {
      @content; 
    }
  }
  @if $breakpoint==muilargeMobile {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint==midMobile {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }

  @if $breakpoint==xmidMobile {
    @media only screen and (max-width: 425px) {
      @content;
    }
  }

  @if $breakpoint==smMobile {
    @media only screen and (max-width: 410px) {
      @content;
    }
  }

  @if $breakpoint==xsmMobile {
    @media only screen and (max-width: 360px) {
      @content;
    }
  }

}
